{% extends "admin.html" %}

{% block title %}Edit article{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/articles">Articles</a></li>
    <li><a href="/admin/articles/{{ article.id }}">{{ article.title|e }}</a></li>
    <li class="active">Edit</li>
</ol>

<form method="post" action="/admin/articles/{{ article.id }}">
    {% include 'admin/articles/partials/form.html' %}

    <input type="hidden" name="_METHOD" value="PUT">

    <button type="submit">Update</button>
</form>
{% endblock %}
