{% extends "admin.html" %}

{% block title %}Edit article{% endblock %}

{% block body %}
<ol class="breadcrumb">
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/articles">Articles</a></li>
    <!-- li><a href="/admin/articles/{{ article.id }}">{{ article.title|e }}</a></li-->
    <li class="active">Draft</li>
</ol>

<form method="post" action="/admin/articles/{{ article.id }}/submit">
    <table class="table table-striped">
        <tr>
            <th width="20%">Title</th>
            <td><input type="text" name="title" value="{{ article.title }}" class="form-control"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><textarea name="description" class="form-control" rows="5">{{ article.description }}</textarea></td>
        </tr>
        <tr>
            <th>File upload</th>
            <td><div class="fallback">
                <input name="file" type="file" multiple />
            </div></td>
        </tr>
    </table>

    <input type="hidden" name="_METHOD" value="PUT">

    <button type="submit" class="btn btn-primary">Submit for approval</button>
    <button type="submit" formaction="/admin/articles/{{ article.id }}" class="btn btn-default">Save draft</button>
</form>
{% endblock %}
