{% extends "admin.html" %}

{% block body %}
<ol class="breadcrumb">
    <li><a href="/admin">Admin</a></li>
    <li><a href="/admin/articles">Articles</a></li>
    <li class="active">{{ article.title }}</li>
</ol>

<div class="buttons">
    <div class="col-md-6">
        <a href="{{ path_for('admin_articles_edit', { 'id': article.id }) }}" class="btn btn-default">Edit</a>

        <form id="deleteUser" method="POST" action="{{ path_for('admin_articles_delete', { 'id': article.id }) }}">
            <input type="hidden" name="_METHOD" value="DELETE">
            <button type="submit" class="btn btn-default">Delete</button>
        </form>
    </div>

    <div class="col-md-6 text-right">
        {% if current_user.is_admin or current_user.is_editor %}
        <form id="deleteUser" method="POST" action="{{ path_for('admin_articles_approve', { 'id': article.id }) }}">
            <input type="hidden" name="_METHOD" value="PUT">
            <button type="submit" class="btn btn-primary">Approve</button>
        </form>
        {% endif %}
    </div>
</div>

<table class="table table-striped">
    <tr>
        <th width="20%">Title</th>
        <td>{{ article.title }}</td>
    </tr>
    <tr>
        <th>Slug</th>
        <td>{{ article.slug }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ article.description|raw }}</td>
    </tr>
    <tr>
        <th>Tags</th>
        <td>
            {% for tag in article.tags %}
            <span class="tag">{{ tag.name }}</span>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Type</th>
        <td>{{ article.type }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ article.status }}</td>
    </tr>
    <tr>
        <th>Data created</th>
        <td>{{ article.created_at }}</td>
    </tr>
</table>
{% endblock %}
