{% extends "main.html" %}

{% block body %}
<h2>Home</h2>

<table class="table table-striped">
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Data created</th>
    </tr>
    {% for article in featured_articles %}
    <tr>
        <td><a href="{{ path_for('articles_show_wslug', { 'id': article.id, 'slug': article.slug }) }}">{{ article.title|e }}</a></td>
        <td>{{ article.type|e }}</td>
        <td>{{ article.created_at|e }}</td>
    </tr>
    {% endfor %}
</table>

<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
{% endblock %}
