<table class="table table-striped">
    <tr>
        <th width="20%">First name</th>
        <td><input type="text" name="first_name" value="{{ params.first_name }}" class="form-control"></td>
    </tr>
    <tr>
        <th>Last name</th>
        <td><input type="text" name="last_name" value="{{ params.last_name }}" class="form-control"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><input type="text" name="last_name" value="{{ params.email }}" class="form-control"></td>
    </tr>
    <tr>
        <th>Password</th>
        <td><input type="text" name="last_name" value="{{ params.password }}" class="form-control"></td>
    </tr>
</table>
